*{
    padding: 0;
    margin: 0;
}
.parent{
    /* background-color: green; */
    height: 100vh;
    width: 100vw;

}
.nav{
    /* background-color: red; */
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    background-color: white ;
    
}
.menucontent{
    /* display: block; */
    display: none;
    position: fixed;
    left: 0;
    background-color: white;
    width: 50%;
    height: 100vh;
    text-align: center;
    top: 0;
    transform: scaleX(0);
}
.xmark{
    display: none;
}
.nav-images{
    width: 180px;
    /* background-color: green; */
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#menu{
    width: 40px;
    height: 30px;
}
#logo{
    width: 100px;
    height: 100%;
    border-radius: 3px;
    border: none;
}
.search{
    display: flex;
    
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    padding: 5px;
    
    /* justify-content: end; */
}

.search input{
    background-color: hsl(0, 0%, 50%, 0.5);
    color: yellow;
    border-radius: 5px;
    border: none;
    width: 250px;
    padding: 5px;
    height: 60%;
}

.search img{
    width: 35px;
}
.highlights{
    background-color: blue;
    height: 50vh;
}
.trending{
    /* background-color: black; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.today,
.thisweek{
    height: 50vh;
}
.today{
    background-color: yellow;
    margin-bottom: 10px;
}
.thisweek{
    background-color: bisque;
}

.popular{
    background-color: pink;
    height: 35vh;
}
.buttons{
    display: flex;
    
}

.genres{
    height: 120vh;
    background-color: blueviolet;
}

.toprated,
.comedy,
.horror,
.docu{
    height: 40vh;
    /* display: flex; */

    
    
}

.toprated{
    background-color: burlywood;
}
.comedy{
    background-color: aqua;
}
.horror{
    background-color: beige;
}
.docu{
    background-color: brown;
}

.data{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 170px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    
}
.box{
    /* width:40px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    width: 170px;
    padding: 5px;
    background-color: red;
    /* height: 200px; */
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}
.description{
    /* height: 80%; */
    background-color: blue;
    width: 170px;
    padding: 5px;
    height: 60px;
    margin-left: 5px;
    border-radius: 5px;
}

/* media queries */
@media (max-width:300px) {
    .search input{
        display: none;
    }
}

@media (max-width:900px) {
    .xmark{
        display: block;
        right: 1em;
        top: 2em;
        width: 20px;
        cursor: pointer;
        position: absolute;
    }
    .xmark img{
        width: 100%;
    }
    .menucontent p{
        margin-top: 2em;
        font-size: 18px;
    }
    .active{
        transform: scaleX(1);
    }
    .menucontent{
        display: block;
    }
}