
*{
    padding: 0;
    margin: 0;
}
.parent{
    height: 100vh;
    width: 100vw;
    
}
.child{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: grey; */

}
.background{
  
    background-image: url("./images/one.jpg");
    background-position: center;
    background-size: cover;
}

.darken{
    
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);

}
.nav{
    /* background-color: red; */
    /* height: 20vh; */
    width: 100%;
    /* display: flex; */
    width: 100vw
    
}
.nav img{
    width: 150px;
}

.input{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* text-align: center; */
}
.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 300px;
    margin-bottom: 50px;

    background-color: hsl(0, 0%, 0%,0.8);

}
.signin{
    /* background-color: blue; */
   
    /* margin-top: 20px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    /* width: 360px; */
    

    
}


.signin h1,
.signin h2{
    color: white;
    padding-left: 10px;

}

.email,
.password{
    display:  flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 10px;
    /* float: left; */
    margin-right: 10px;
    margin-left: 10px;
    width: 240px;
    
   
    
   
}

.email small,
.password small{
    color: yellow;
}
.email input,
.password input{
    /* height: 30px; */
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: 10px;
    background-color: hsl(0, 0%, 50%, 0.4);
    color: white;
}
.email{
    margin-top: 25px;
    /* margin-bottom: 20px; */
}
.submit{
    /* background-color: green; */
    margin-top: 20px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    
    /* width: 70%; */
}
.submit button{
    padding: 9px 15px;
    background-color: red;
    /* width: 190px; */
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
    
}

.remember{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.new{
    margin-top: 20px;
}

.protected{
    margin-top: 15px;
}
.protected p{
    font-size: 11px;
    color: white;
}















.footer{
    background-color: black;
    height: 20vh;
    width: 100%;
}
  