:root{
    --btnColor:#e50914;
    --white:#ffff;
}
*{
list-style: none;
text-decoration: none;
font-family: 'Poppins', sans-serif;


}



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

  .home{
    display: grid;
    gap: 7px;
    background-color: rgb(45%, 45%,45%);
  }
.container{
    background:linear-gradient(to top, rgba(0, 0, 0, .9) 0, rgba(0, 0, 0, .2) 60%, rgba(0, 0, 0, .8) 100%), url('../../images/bglarge.jpg');
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    
    width: 100%;
}
@media (max-width:640px) {
    .container{
        background:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url('../../images/mainBack\).jpg');
        background-position: center;
        background-size: cover;
    }
    
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    height: 80px;
}
.navImage{
    width: 120px;

}
.navImage img{
    width: 100%;
}

.signup button{
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    background-color: var(--btnColor);
    cursor: pointer;

}
.signup button a{
    color: var(--white);
}
.redirectbtn{
    color: var(--white);
    cursor: pointer;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    text-align: center;
    justify-content: center;
    
}

.information h1{
    color: var(--white);
    margin-bottom: 0;
    font-size: 48px;
}
.information p{
    color: var(--white);
    margin: 16px 0 0;
    letter-spacing: 1px;
    font-size: 17px;
    
    
}
.emailbox{
    display: flex;
    width: 80%;
    gap: .5em;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
}
.emailbox input{
    padding: 7px;
    color: grey;
    background-color: rgba(0, 0, 0, 0.544);
    border: 1px solid grey;
    border-radius: 3px;
}
.emailbox input:focus{outline:none;}
.hide{
    color: grey;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0;
    margin: 0;
    
}
.show{
    display: block;
    top: 1px;
    font-size: 13px;

}
.green input:focus{
    border: 2px solid green;
}
.red input:focus{
    border: 2px solid red;
}
.input{
    position: relative;
}
/*     background: linear-gradient(to right, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 100%); */


.emailbox button{
    background-color: var(--btnColor);
    border: none;
    border-radius: 3px;
    width: 102px;
}
.emailbox button a{
    color: var(--white);
}
/* ! small screen design */
@media (max-width:482px) {
    .emailbox button{
        padding: 7px 0;
    }
    
}
@media (max-width:640px) {
    .information h1{
        font-size: 32px;
    }
    .information{
        min-height: 40vh;
    }
    .container{
        min-height: 60vh;
    }
    
    .cardContainer{
        background-color: #e50914;
        width: 100%;
        height: 50px;
    }
}
/* reusable home styles */
.home-container{
    background-color: black;
    color: var(--white);
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    min-height: 60vh;
    justify-content: space-between;
}
.reverse{
    flex-direction: row-reverse;
}
.description{
    width: 50%;
    text-align: center;
    
}
.description h1{
    font-size: 48px;
}
.image{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imagecontainer{
    width: 350px;
    position: relative;
}
.imagecontainer video{
    width: 100%;
}
.imagecontainer img{
    width: 125%;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.seperate_video video{
    width: 80%;
        
}
.seperate_video img{
    top: 75%;
    left: 40%;
}
@media (max-width:450px) {
    .imagecontainer video{
        width: 90%;
    }
    
    .seperate_video video{
        width: 60%;
        margin-left: 2em;
    }
    .seperate_video img{
        top: 75%;
        left: 40%;
    }
    .imagecontainer img{
        width: 100%;
    }
    
}
@media (max-width:800px) {
    .description{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    .description h1{
        font-size: 32px;
    }
    .information h1{
        font-size: 32px;
    }
    .information{
        margin-bottom: 2em;
    }
    
    .show{
        font-size: 10px;
    }
    
}
@media (min-width:800px) {
    .emailbox input{
width: 300px;
padding: 24px 16px 8px;
    }
    .emailbox button{
        width: 150px;
        padding-left: 10px;
        padding-right: 16px;
    }
    .hide{
        bottom: 0;
        font-size: 16px;
    }
    .show{
        font-size: 12px;
    }
}

