/* Trailer Component */

.slideshow {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.bg_image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.bg_image img {
  width: 100%;
}
.moviedescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(90deg, #000 5%, hsla(0, 0%, 100%, 0));
  height: 100%;
}
.slideshow-text {
  margin-left: 10px;
  color: white;
  font-size: 12px;
  width: 45%;
}

.slideshow-text p{
  font-size: 18px;
}
.slideshow-text h1{
    font-size: 50px;
}
.slideshow-button {
  margin-top: 25px;
  width: 250px;
  display: flex;
  margin-left: 10px;

}
.slideshow-button button {
  padding: 9px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
.slideshow-button button img{
    width: 20px;
}
/* trailers */
.categorycontainer{
  position: absolute;
  width: 100%;
  min-height: 70vh;
  background: linear-gradient(rgba(20, 20, 20, 0.279),rgba(20, 20, 20, 0.97),#141414,#141414 ,#141414,#141414);
  top: 70%;
  
}

#mylist {
  margin-left: 15px;
}
@media (max-width:800px) {
  .slideshow-text {
    width: 90%;
  }
  
}

@media (min-width:1070px) {
    .bg_image{
        background-position:  center right bottom;
    }
    .slideshow-text h1{
      font-size: 60px;
    }
    .slideshow-text p{
      font-size: 20px;
    }
}
.category{
  color: white;
  background: #141414;
  padding-bottom: 2em;
  padding: 1em 3em;
}
.trailerimages{
  display: flex;  
  overflow-x:scroll ;
  overflow-y: hidden;
  gap: 1em;
position: relative;

}
.movie{
  height: 150px;
  object-fit: contain;
  padding: 10px;
  cursor: pointer;
  transition: transform .3s;
  border-radius: 20px;
  
}
.movie:hover{
  transform: scale(1.11);
}
.main{
  height: 200px;
}
.trailerimages::-webkit-scrollbar{
  display: none;
}
.mainholder{
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(20, 20, 20, 0.072),#141414);
  padding-bottom: 1em;

}

.youtubecontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube iframe{
  
  height: 300px;
  width: 300px;
  object-fit: contain;
  border-radius: 10px;
  
}
@media (min-width:800px) {
  .youtube{
    width: 400px;
  }
  
}
@media (max-width:640px) {
  .category{
    padding:  1em .2em;
  }
  .moviedescription{
    justify-content: left;
    padding-top: 6em;
  }
  
}

